<h1>All Books</h1>

  <% @books.each do |book| %>
    <ul id="books">
      <li><%= link_to book.title, book_path(book), class:'book-title', id:'book-#{book.id}' %></li>
      <li><%= book.pages %></li>
      <li><%= book.year %></li>
      <li><img src=<%= book.cover_url %> alt=book.title></li>
    </ul>
  <% end %>
